[2015-11-12 18:44] Sean-Der opened #1 "Add your fork to the extensions-catalog"
Hi!

Really nice work with this port, would you mind updating the [extensions catalog](https://github.com/gophp7/gophp7-ext/wiki/extensions-catalog) to include your port?

thanks

[2015-11-12 21:45] szabolcsbalogh commented on #1
maybe it will be merged into php.net version,
see
http://marc.info/?l=pecl-dev&m=144734279830573&w=2

[2015-11-14 05:38] Sean-Der commented on #1
That is awesome to hear @szabolcsbalogh !

Adding your fork right now would be helpful for people who want to use your work right now. I just stumbled upon this repo because I was linked by someone else. Totally your choice though.

thanks for working on this

[2015-11-14 05:38] #1 closed

[2015-11-14 12:38] digitalkaoz opened #2 "MemcachePool not found"
hey, thanks for porting :)

if i use this extension (i checked in phpinfo, and yes its loaded) i get: `ClassNotFoundException:
Attempted to load class "MemcachePool" from the global namespace.
Did you forget a "use" statement?` i guess, the object oriented layer is missing in the pecl extension?

my php env:

[code]

but if i use the attached `memcache.php` it seems to work :/

[2015-11-14 15:43] szabolcsbalogh commented on #2
i ported master branch, which seems to be a continue of release 2.2.7...
tag with 3.0.8 is a commit with full source, last branched commit is 3.0.6, so i need to solve, from which point to port it again

[2015-11-14 17:06] digitalkaoz commented on #2
i guess use `3.0.8` ?! and yes afaik the class was introduced in the 3.x Branch...

[2015-11-16 12:32] digitalkaoz commented on #2
@szabolcsbalogh are you willing to re-port the 3.x branch?

[2015-11-16 12:36] szabolcsbalogh commented on #2
yes, i started to work on it.

[2015-11-16 12:49] digitalkaoz commented on #2
:-*

[2015-11-30 10:20] szabolcsbalogh commented on #2
take a look at branch NON_BLOCKING_IO_php7

the original php5 version is buggy, but i tried my best, and i have less failing tests on php7 version than on php5. UDP protocol have problems, and can end up in an infinity loop, so try to not use it for now.

[2015-11-30 11:58] digitalkaoz commented on #2
works like a charm :-*

[2015-12-02 12:56] #2 closed

[2016-01-13 11:19] DanielDent opened #3 "PHP 7 support ready?"
How ready is this for production use? It appears to compile. If it is somewhat stable, which branches do you recommend? Non blocking IO seems nice, but I'm unclear whether that branch is experimental work or completed work.

Thanks for your work on this module.

[2016-01-13 12:04] szabolcsbalogh commented on #3
i used branch naming, that is on pecl.php.net.

master (on pecl.php.net) is memcache v 2.2.7 rewritten for php7 in my php7 branch. Tests should pass on linux, windows i didn't tested.

NON_BLOCKING_IO (on pecl.php.net) branch is v 3.0.9-dev rewritten for php7 in my NON_BLOCKING_IO_php7 branch.

See http://marc.info/?l=pecl-dev&m=144906217213648&w=2. If you avoid udp connection to memcache, i think

[2016-01-13 13:00] DanielDent commented on #3
Thanks!

[2016-01-13 13:00] #3 closed

[2016-02-14 11:26] pierrejoye opened #4 "merge/replace?"
Hi,

Great work on the port to 7! Thanks :)

Are you interested to merge into the official (but lacking love, blame me) extension?

I would also like to move the repository to the friendsofphp organization to ease additions of more contributors as well as making it more visible.

Let me know if it sounds good, it would be then easier to move this repository to the organization instead of merging o

[2016-02-24 19:13] willfitch commented on #4
I agree @pierrejoye.  I'm in the middle of updating the original Memcached extension, and I'd like an extension that is maintained by a community as well.  There are a lot of failed tests and compilation warnings, but the PHP7 API port compiles.

There doesn't seem to be any commits since Nov 2015.  @szabolcsbalogh - can you confirm @pierrejoye's question?

[2016-02-25 12:07] szabolcsbalogh commented on #4
hi

i tried again to contact pecl team, but without answer, so...

we can move the repo, and after i make a readme here, that it was moved (because of projects linked it, like https://github.com/LeaseWeb/LswMemcacheBundle/issues/53#issuecomment-168659036)

[2016-02-25 20:53] willfitch commented on #4
@szabolcsbalogh - should be able to just make a PR from https://github.com/php/pecl-caching-memcache.

Is that right, @pierrejoye?

[2016-02-25 22:21] szabolcsbalogh commented on #4
https://github.com/php/pecl-caching-memcache/pull/4

[2016-02-28 08:49] pierrejoye commented on #4
@willfitch  I prefer to actually move it to friendsofphp and really use github. The PHP org is only a mirror of git.php.net and PRs have to be manually merged along other little annoyances.

@szabolcsbalogh If you could add me as admin for this repo, I can then simply move it to friendsofphp/memcache, quick and without losing anything. And we can continue to maintain it there, using github issues

[2016-02-28 08:50] pierrejoye commented on #4
Also github will redirect it as far as I remember, or we can create a new repo with only the README afterwards.

[2016-02-28 11:12] ymc-dabe opened #7 "Test in Symfony's HttpFoundation failing with websupport-sk/pecl-memcache under PHP 7"
Problem
-------
Using websupport-sk/pecl-memcache (branch php7 / commit 88750b4203914bc3c40b485cfa139e3094e0fd04) with PHP 7 a test in Symfony's HttpFoundation (v3.0.2) component is failing with the following error:
[code]

This does does not happen with the PHP5 version of websupport-sk/pecl-memcache (branch NON_BLOCKING_IO_php7 / commit fdbd46bbc6f53ed6e024521895e142cbfc9b3340):
[code]

How to r

[2016-03-11 08:23] szabolcsbalogh commented on #4
@pierrejoye you have been added as admin

[2016-03-11 15:03] szabolcsbalogh commented on #7
i reproduced it, skips are because of missing memcached (not memcache), and mongo, ...
i have 2 failing tests

[code]

1. mock. It is about function get, implemented as PHP_FUNCTION(memcache_get).
in input parameters there is no change, so what i changed:
This function uses zend_parse_parameters, and is returning flags to a reference from function parameters. There was a change in references, so i

[2016-03-12 03:43] pierrejoye commented on #4
@szabolcsbalogh  Thanks!

How would you like  to proceed and when? :)

[2016-03-12 05:41] pierrejoye commented on #7
Not sure about #2. I have to check.

for #1, arg_info is missing for many APIs, we should definitively complete them at some points :) That looks like what is used by phpunit to valid the mock interface.

[2016-03-12 10:17] szabolcsbalogh commented on #4
you can move it to friendsofphp/memcache as you wrote. Please left me at least collaborator access level after the move. You can move it any time.

[2016-04-07 21:35] slawomir-pryczek opened #8 "Memcache extension doesn't play nice with large MTU's?"
Hi, i come across a very weird issue when i SET (GET is not affected) a key with long value for memcached via memcache plugin and loopback interface. Basically requests on remote hosts were 50-100 times faster than on loopback.

After doing some tests, i narrowed the problem to large MTU of loopback interface. So as you can see setting 3x30kb of data takes 80ms when connecting to memcache using TC

[2016-04-07 21:48] slawomir-pryczek commented on #8
Attaching test code + images.

[mcbench.txt](https://github.com/websupport-sk/pecl-memcache/files/209288/mcbench.txt)
![2016-04-07_2322](https://cloud.githubusercontent.com/assets/7211190/14367970/240f109e-fd1b-11e5-9e9b-4745bd85e2c7.png)
![2016-04-07_2330](https://cloud.githubusercontent.com/assets/7211190/14367971/242ad1ee-fd1b-11e5-998f-ad5bd8814df4.png)

[2016-05-05 20:25] carlwgeorge commented on #4
Is the move to [friendsofphp/memcache](https://github.com/friendsofphp/memcache) going to happen at some point?  I would like to subscribe to it.

[2016-06-14 17:54] regentropft opened #9 "install of memcache-3.0.8 fails"
Starting to download memcache-3.0.8.tgz (70,523 bytes)
.....done: 70,523 bytes
15 source files, building
running: phpize
Configuring for:
PHP Api Version:         20151012
Zend Module Api No:      20151012
Zend Extension Api No:   320151012

/usr/local/apache2/php5/include/php/Zend/zend_hash.h:171:30: note: declared here
/tmp/pear/temp/memcache/memcache.c: In function ‘zif_memcache_get_stats’:
/tm

[2016-06-14 18:21] regentropft commented on #9
after installing package from github building works..

[2016-06-14 18:21] #9 closed

[2016-06-17 02:58] inliquid opened #10 "SEGV on php 7.0.7 / debian jessie 8.5"
Hi!
Just have tried 'php7' branch with memcache extension on nginx / fpm / memcache v 1.4.21...
And unfortunately it didn't work.

[17-Jun-2016 05:50:02] NOTICE: fpm is running, pid 20837
[17-Jun-2016 05:50:02] NOTICE: ready to handle connections
[17-Jun-2016 05:50:02] NOTICE: systemd monitor interval set to 10000ms
[17-Jun-2016 05:50:33] WARNING: [pool www] child 20841 exited on signal 11 (SIGSEG

[2016-06-30 05:55] RoxKilly opened #11 "Any official word on future plans for Memcache? PHP 7?"
The `README` here is a few years old now, and some of the functions it describes are still not implemented as documented (in the Windows DLL of 3.0.8 at least).

`3.0.8` has been in beta for 3 years I think. Now that we're making plans to move to PHP 7, we'd like some clarity please on whether this project should be considered dormant.

We're trying to decide whether to make plans to switch from t

[2016-07-08 16:32] ccovey commented on #7
@pierrejoye I am noticing this also on our current build. Do you have an ETA For #1 (or even a work around?).

[2016-07-08 18:32] pierrejoye commented on #1
My bad. I will merge it between now and next week.it

Sorry, it badly went off my radar :/

[2016-07-14 19:31] inliquid commented on #10
Just to add that 'non-blocking_php7' branch is working fine.

[2016-07-14 19:32] inliquid commented on #11
Up

[2016-07-14 22:37] szabolcsbalogh commented on #4
@pierrejoye do you have any info about move?

[2016-07-16 15:48] Jan-E commented on #11
@RoxKilly Try the php_memcache.dll in my PHP 7.0.9 RC1 builds. It is built using the latest sources of this repo. Download thru

https://www.apachelounge.com/viewtopic.php?t=6617

phpinfo() dump:
https://phpdev.toolsforresearch.com/php-7.0.9RC1-Win32-VC14-x64.htm

The php_memcache.dll in the PHP 5.6.24 RC1 build still is v3.0.8, but I could build that one from the newest sources as well.

[2016-07-17 05:11] RoxKilly commented on #11
@Jan-E I'm completely unfamiliar with building from source. The DLL would be a drop-in replacement for my current `memcache` `.dll` file on Windows once I switch to PHP 7 right? That'll take care of my development machine (Windows) if I'm correct.

The production machine is a Linux CentOS 7 server, and the extension it uses is version 3.0.8 installed from http://pecl.php.net/package/memcache .  An

[2016-08-01 14:52] aursu opened #12 "Need explanations regarding RPM packaging errors"
Hi!

I'm trying to create RPM package for PHP7 on CentOS7. I have 2 question:
1) In commit 1a28da3ff6776fe9732dce06328d10208150fc1b you've made next change:

`diff -rup -x .git pecl-memcache.php5.orig/memcache.c pecl-memcache.php5/memcache.c`
`--- pecl-memcache.php5.orig/memcache.c 2016-07-29 03:06:28.657638787 +0200`
`+++ pecl-memcache.php5/memcache.c  2016-07-29 02:57:22.434994396 +0200`
`@@ -16

[2016-08-19 09:25] Gasol commented on #4
@pierrejoye Could you please move to [friendsofphp/memcache](https://github.com/friendsofphp/memcache) and update link in pecl/memcache site.

[2016-08-23 19:47] gman-wa opened #13 "session_regenerate_id() causes fatal error"
using this memcache extension as the session save handler, session_regenerate_id() returns a fatal error.

This is related to https://bugs.php.net/bug.php?id=71187

In a comment by yohgaki@php.net he offers the reason for the error and a potential fix for the memcached client that perhaps you could use to implement a fix in this memcache client?

[2016-09-22 03:25] Jan-E commented on #4
There does not seem any progress on this. Can we fix the PHP 7.1 builds on Windows in the mean time? See https://github.com/websupport-sk/pecl-memcache/pull/15

[2016-10-08 01:32] arvenil commented on #11
Any update on this?

[2016-10-13 09:08] electropolis commented on #11
Are you asking about memcache or memcached ?

[2016-10-13 12:50] RoxKilly commented on #11
About [this project](http://pecl.php.net/package/memcache): the PHP `memcache` extension

[2016-10-24 22:17] gsmaul commented on #13
I added a patch for this in my fork, based on the feedback in the PHP bug you've linked. I'm still in the process of testing the patch - haven't pushed it onto loaded production servers yet, but seems stable in my dev environment.

https://github.com/gsmaul/pecl-memcache/commit/9a3471d975e9852d444358878a4004d03229b4ad

Any feedback is welcomed, as I don't regularly work on PHP extensions.

[2016-12-07 22:38] archon810 commented on #11
Would also love to know the status of php pecl memcache extension for PHP 7.1.

[2016-12-08 00:58] Jan-E commented on #11
Somebody reported a problem with this repo and PHP 7.1:
https://www.apachelounge.com/viewtopic.php?p=34623#34623

[2016-12-08 13:32] tomassrnka commented on #11
I've tried to get in touch with official repo maintainer - no luck. I will update README on this page. Feel free to use it / post patches / fork it.

We will dedicate on of our dev. people for last 7-10days of this month to update memcache extension for PHP 7.1.X.

[2016-12-08 13:32] #11 closed

[2016-12-08 13:33] tomassrnka commented on #13
This seems to work pretty fine, can someone else please confirm the patch?

[2016-12-08 13:34] tomassrnka commented on #10
We need to clean up those branches. Sorry about that

[2017-01-03 03:45] VaxCavalera opened #18 "wrong return value"
php7.0.14 + pecl-memcache

problem with return value

$memcache->set('user21721',FALSE,0,10);
$ar =$memcache->get('user21721');
var_dump($ar);

returns string(0) "" instead bool(false)

[2017-01-03 03:59] VaxCavalera commented on #18
sorry problem actual when installed from https://github.com/websupport-sk/pecl-memcache/archive/php7.zip

if i do install from clone of package itself bug is fixed

[2017-01-12 01:45] jjeau75 opened #19 "Causes PHP 7.0.14 Crash"
Hi guys.

Appears this port does not work when installed on PHP 7.0.14 - the current FreeBSD distro. It actually causes a complete PHP crash on every execution.

Any help appreciated.

Thanks.

[2017-01-31 20:09] mk-j commented on #19
Is it a fatal error - out of memory error?
see https://bugs.php.net/bug.php?id=73539
and https://bugs.php.net/bug.php?id=73497

[2017-03-07 00:23] mtibben commented on #4
Hi, I'd love to see a versioned release of this repo, as this has become the de-facto fork many downstream packagers are using
- [Ubuntu](https://launchpad.net/ubuntu/+source/php-memcache) as `3.0.9~20160311.4991c2f-5`.
- [Fedora](https://apps.fedoraproject.org/packages/php-pecl-memcache/) as `3.0.9-0.3.20160311git4991c2f.fc26`
- Brew - https://github.com/Homebrew/homebrew-php/pull/3860 https://gi

[2017-03-10 10:07] tomassrnka commented on #4
@mtibben hi, I'm 100% up for it! How can we move it? I've already suggested to move it some time ago.  Any ideas please?

[2017-03-23 17:58] Nirjonadda opened #22 "Uninstall Memcache PECL modules"
Please let me know that how to uninstall Memcache PECL modules for PHP 7.1?

[2017-04-18 14:24] nicolacontu opened #23 "Memcache extension can't read from memcached"
Hello
I've installed php 7.1.1 and the extensions is version 3.0.9-dev

When I try to do a session_start I get :
Warning: session_start(): Failed to read session data: memcache (path: tcp://127.0.0.1:11211) in /usr/local/httpd-2.4.25/logs/test.php on line 1
array(0) {
}

This the script I used :
<?php session_start(); var_dump($_SESSION); $_SESSION['a'] = 'b'; ?>

This is my php.ini
session.save_h

[2017-04-19 14:28] tomassrnka commented on #23
Hi, can you use memcache outside of the extension? We use the extension with PHP 7.1 without any problems.

[2017-04-19 15:20] nicolacontu commented on #23
Hi,

yes I'm using it with php5.6.6 with the pecl-memcache extension 3.0.8

________________________________
Da: Tomas Srnka <notifications@github.com>
Inviato: mercoledì 19 aprile 2017 16.28
A: websupport-sk/pecl-memcache
Cc: nicolacontu; Author
Oggetto: Re: [websupport-sk/pecl-memcache] Memcache extension can't read from memcached (#23)

Hi, can you use memcache outside of the extension? We use

[2017-04-24 17:18] tomassrnka commented on #19
There are some new patches for memory leaks, give it a try pls, I do not have FreeBSD near me at the moment. To be honest, we've never tried it on FBSD. Let me know, Thanks,Tomas

[2017-04-24 17:18] #10 closed

[2017-05-23 21:10] klandaika commented on #23
Having same issue here when using native session handler via php.ini directives and calling `session_start()` on PHP 7.1.4 :
[code]

However when using `new Memcache()` with `addServer` all object functions work as expected and I am able to read/write data to the server.

On PHP 7.0.17 and same configs `session_start()` works correctly with native session handler

[2017-07-20 19:53] krzaczek commented on #23
Same here

`session_start(): Failed to read session data: memcache (path: tcp://127.0.0.1:11211)`

[code]

`new Memcache()` is working fine. Only session support is broken.

@tomassrnka

[2017-08-02 08:39] sbernaldev opened #25 "Installation procedure?"
Hello please could someone put to the readme how to install this in a php 7 FPM? I'm newbie :)

[2017-08-02 08:49] baltazor5000 commented on #25
First install php-dev package.
For example Debian:
 - apt-get install php7.0-dev.
 - git clone this repository
 - cd pecl-memcache
 - phpize
 - ./configure
 - make
 - make install

After:
cd /etc/php/7.0/mods-available
nano memcache.ini with: extension=memcache.so
cd /etc/php/7.0/fpm/conf.d/
ln -s /etc/php/mods-available/memcache.ini 20-memcache.ini

[2017-08-03 11:22] #25 closed

[2017-08-16 23:14] ramsey commented on #23
I'm experiencing the same issue with PHP 7.1.7 and the latest commit of the memcache extension: e702b5f91ec222e20d1d5cea0ffc6be012992d70

Error message is the same:

[code]

Has anyone found a work-around yet? I'm able to use the same extension on PHP 7.0.x without any problems.

[2017-08-17 08:33] nicolacontu commented on #23
I just switched to memcahed extension

________________________________
Da: Ben Ramsey <notifications@github.com>
Inviato: giovedì 17 agosto 2017 01:14
A: websupport-sk/pecl-memcache
Cc: nicolacontu; Author
Oggetto: Re: [websupport-sk/pecl-memcache] Memcache extension can't read from memcached (#23)

I'm experiencing the same issue with PHP 7.1.7 and the latest commit of the memcache extension: e7

[2017-08-17 19:09] ramsey commented on #23
I was able to create a simple reproducible version of this, using Docker. The repository is here: https://github.com/ramsey/pecl-memcache-issue-23

To run it to see the `session_start()` warning:

[code]

Now, the two containers should be running, and you can open the following in your browser to verify:

* <http://localhost:8001/info.php> (should be running PHP 7.0)
* <http://localhost:8002/info.

[2017-09-05 18:46] ramsey commented on #23
@tomassrnka, have you been able to take a look at my reproduction steps yet?

[2017-09-07 06:44] Roze commented on #23
Since the php 7+ session module now expects a string for a valid response the error appears when the memcache extension returns that the key doesn't exist for a fresh/uninitialised session.

For me kind of works (haven't fully tested though (for example with binary protocol)) this small change:

[code]

[2017-09-22 09:00] krzaczek commented on #23
@Roze yep that fixes the problem ... thx

[2017-10-05 13:12] remicollet commented on #23
@Roze could be better to open a pull request.

[2017-12-21 17:15] budby opened #27 "Update the memcache up to 3+ version (PHP7)"
Could you update the memcache up to 3+ version?

[2018-01-19 12:40] nono303 commented on #23
@remicollet Thanks for the patch!
Work fine on Windows.
dll build for 7.2.x VC15, x86 & X64 / TS & NTS available @ https://github.com/nono303/PHP7-memcache-dll

[2018-01-20 21:27] vitlav commented on #27
In other words, please, make a new release from php7 related branch.

[2018-02-06 16:21] futureweb opened #28 "PHP 7.2 compatibility"
Hey there,
I wanted to ask about the current Status of PHP 7.2 compatibility as "make test" throws some Errors.

Centos 7
memcached Server Version: 1.4.15
PHP: 7.2.2

thx
Andreas Schnederle-Wagner

[2018-03-13 21:46] artash commented on #28
I get less failures on CentOS 6.5, x86_64, PHP 7.2.3
[code]

[2018-03-21 21:20] artash opened #29 "ZTS support"
Looking at code I've noticed all TSRMLS_* macros were removed from php7 code. Doesn't this mean that it won't work when ZTS is enabled?

Was there a specific reason why TSRMLS_* macros were removed from code, e.g.
[code]
or
[code]

[2018-04-05 15:34] michaeljoseph commented on #27
The `NON_BLOCKING_IO_php7` branch is at `3.0.9-dev`

[2018-06-23 14:44] nikic commented on #29
PHP 7 no longer uses TSRMLS_* macros. The fact that these were removed does not imply that ZTS is no longer supported (but I have no idea whether or not the extension does support ZTS).

[2018-11-13 19:15] glensc commented on #4
looks like ping to @pierrejoye needed

[2018-12-11 00:35] 1265578519 opened #31 "php7.3 error"
php7.3 error

[2018-12-11 03:16] 1265578519 commented on #31
[root@new_centos6 ~]# unzip -o php-memcache-3.0.9-dev.zip
Archive:  php-memcache-3.0.9-dev.zip
e702b5f91ec222e20d1d5cea0ffc6be012992d70
   creating: php-memcache-3.0.9-dev/
  inflating: php-memcache-3.0.9-dev/.gitignore
 extracting: php-memcache-3.0.9-dev/CREDITS
  inflating: php-memcache-3.0.9-dev/LICENSE
  inflating: php-memcache-3.0.9-dev/README
  inflating: php-memcache-3.0.9-dev/config.m4
  i

[2019-01-02 10:30] nikolamakin commented on #31
楼主你解决了吗？解决了反馈一下！

[2019-01-02 10:49] nikolamakin opened #32 "php7.3 error"
[root@localhost pecl-memcache-php7]# /server/php7/bin/phpize
Configuring for:
PHP Api Version:         20180731
Zend Module Api No:      20180731
Zend Extension Api No:   320180731
[root@localhost pecl-memcache-php7]# ./configure --with-php-config=/server/php7/bin/php-config
checking for grep that handles long lines and -e... /usr/bin/grep
checking for egrep... /usr/bin/grep -E
checking for a sed

[2019-01-02 11:37] 1265578519 commented on #31
@nikolamakin 没有解决

[2019-01-11 16:40] Joungkyun commented on #32
use follow patch and attache patch file with zip archive

[code]

[memcache-2.2.7-annyung-php73.patch.zip](https://github.com/websupport-sk/pecl-memcache/files/2750414/memcache-2.2.7-annyung-php73.patch.zip)

[2019-02-27 21:36] Jan-E opened #35 "PHP 7.0/7.1: memcache_pool.c(47): error C2065: 'newlen': undeclared identifier"
Error while compiling the current git head for PHP 7.1:
`
ext\memcache\php7\memcache_pool.c(47): error C2065: 'newlen': undeclared identifier
`
Cause and solution: re-apply https://github.com/websupport-sk/pecl-memcache/commit/09e21a63410cbfd8827c7a876d8160a6b80b076c#diff-9f1719689bef6d7c731dfa15cfe326e9

[2019-02-27 22:06] #23 closed

[2019-02-28 07:53] tomassrnka commented on #31
Should be fixed in 4.0.0. Please test it.

[2019-02-28 07:53] tomassrnka commented on #27
There is a new release 4.0.0. that supports PHP up to 7.3

[2019-02-28 07:53] #27 closed

[2019-02-28 08:03] Jan-E commented on #35
@tomassrnka This bug is present in the 4.0.0 release.

[2019-02-28 15:01] nono303 opened #36 "Update version in php_memcache.h for 4.x"
Hi,
PHP_MEMCACHE_VERSION is still "3.0.9-dev" for tag 4.x

[2019-03-01 12:43] micron10 opened #37 "Php 7.2.15 issue compile"
/php-7.2.15/ext/memcache/php7/memcache.c:643:8: error: too many arguments to function 'mmc_prepare_key_ex'
    if (mmc_prepare_key_ex(ZSTR_VAL(key), ZSTR_LEN(key), request->key, &(request->key_len), MEMCACHE_G(key_prefix)) != MMC_OK) {
        ^~~~~~~~~~~~~~~~~~
In file included from /php-7.2.15/ext/memcache/php7/php_memcache.h:34,
                 from /php-7.2.15/ext/memcache/php7/memcache.c:30:

[2019-03-02 16:19] centminmod opened #38 "v4.0.1-php73 tagged failed on PHP 7.3.2"
Trying to compile on PHP-FPM 7.3.2 the (memcache v4.0.1-php73 tagged version](https://github.com/websupport-sk/pecl-memcache/tree/v4.0.1-php73) . Prior to latest memcache 4.x commits, i had memcache 3.0.9 dev working on PHP 7.3.2 with the pull patch at https://github.com/websupport-sk/pecl-memcache/pull/30. If i rollback to commit https://github.com/websupport-sk/pecl-memcache/commit/4a9e4ab0d1215

[2019-03-04 02:06] centminmod commented on #38
FYI same issue with PHP 7.2.15 as well so reverted to commit https://github.com/websupport-sk/pecl-memcache/commit/4a9e4ab0d12150805feca3012854de9fd4e5a721 which is fine with PHP 7.2.15

[2019-03-07 09:56] baer95 commented on #38
https://github.com/websupport-sk/pecl-memcache/issues/37 this seems to be the same issue. I am also experiencing the same error - `too many arguments to function ‘mmc_prepare_key_ex’`.

[2019-03-09 09:49] faca5 commented on #38
Hello.

We have error on 7.3.

/bin/sh /usr/local/src/pecl-memcache-NON_BLOCKING_IO_php72/libtool --mode=compile cc -I/opt/cpanel/ea-php72/root/usr/include/php -I. -I/usr/local/src/pecl-memcache-NON_BLOCKING_IO_php72 -DPHP_ATOM_INC -I/usr/local/src/pecl-memcache-NON_BLOCKING_IO_php72/include -I/usr/local/src/pecl-memcache-NON_BLOCKING_IO_php72/main -I/usr/local/src/pecl-memcache-NON_BLOCKING_IO_ph

[2019-03-12 07:18] borodiychuk commented on #38
This is fixed in PR #39

[2019-03-12 07:18] borodiychuk commented on #37
This is fixed in PR #39

[2019-03-12 07:28] #38 closed

[2019-03-12 07:28] #37 closed

[2019-03-12 07:42] Jan-E commented on #35
@tomassrnka A friendly ping
See this discussion with @remicollet
https://github.com/websupport-sk/pecl-memcache/pull/30#pullrequestreview-131183595

The needed patch is here:
https://github.com/remicollet/pecl-memcache/commit/09e21a63410cbfd8827c7a876d8160a6b80b076c.patch

[2019-03-12 08:10] Jan-E commented on #35
PR: https://github.com/websupport-sk/pecl-memcache/pull/40

[2019-03-16 21:06] HaykSahakyan opened #41 "php7.3 + WHM error"
Trying to install on WHM controled server.

/opt/cpanel/ea-php73/root/usr/bin/phpize && ./configure --enable-memcache --with-php-config=/opt/cpanel/ea-php73/root/usr/bin/php-config && make;
_____________________________________________________________
Configuring for:
PHP Api Version:         20180731
Zend Module Api No:      20180731
Zend Extension Api No:   320180731
checking for grep that handl

[2019-03-19 08:32] tomassrnka commented on #36
Fixed thx

[2019-03-19 08:32] #36 closed

[2019-03-19 08:33] tomassrnka commented on #32
Current build works fine, all tests are passing on PHP 7.3

[2019-03-19 08:33] #32 closed

[2019-03-19 08:33] tomassrnka commented on #31
All tests passing closing.

[2019-03-19 08:33] #31 closed

[2019-03-19 08:41] tomassrnka commented on #28
At the moment, there are 3 tests failing for PHP 7.2, at least 2 of them are because of changed behaviour of sessions, otherwise it should work fine.

[2019-03-19 08:42] tomassrnka commented on #22
Remove it from your extensions in php.ini - try to follow - https://serverpilot.io/docs/how-to-remove-php-extensions

[2019-03-19 08:42] #22 closed

[2019-03-19 08:42] tomassrnka commented on #12
Hi, could you please try it again? There has been a major release since 2016

[2019-03-19 08:47] tomassrnka commented on #29
Tested on official php7.3-zts docker image, builds fine, all tests are passing.

[code]

[2019-03-19 08:47] #29 closed

[2019-03-19 08:47] tomassrnka commented on #19
Unfortunately, PHP 7.0 is no longer supported. ver. 4.0.2 works fine with 7.3 (passing all tests), 7.2 works with failing tests.

[2019-03-19 08:47] #19 closed

[2019-03-19 08:48] tomassrnka commented on #41
Is there any official docker image or source code of your php that we could test on?

[2019-03-19 08:58] remicollet opened #42 "PECL Release"
If you maintain this extension and tag versions (4.0.x), please see to publish them on PECL.

[2019-03-19 09:28] WaferJay commented on #41
#39

[2019-03-19 09:42] #35 closed

[2019-03-19 13:36] #18 closed

[2019-03-19 15:58] tomassrnka commented on #41
This should be fixed already by merging #39  If you still encounter this bug, please reopen / open new issue.

[2019-03-19 15:58] #41 closed

[2019-03-20 10:57] thesource93 commented on #29
when not starting sessions in separate threads you should be fine.

[2019-03-20 12:45] thesource93 opened #46 "session redundancy weird behaviour when reopening session during request"
if session is commited, then reopened, changed and during that time key becomes missing on one of the servers in pool , session is not loaded.  however after the final session_write the keys are available on both memcached instances.

eg code from tests/044.phpt
[code]

[2019-03-23 09:48] tomassrnka commented on #42
Yes I agree, let's do that.

Requested account on pecl + need to fix some tests for php 7.0-7.2, see #46

[2019-03-23 21:54] tomassrnka commented on #28
Fixed in https://github.com/websupport-sk/pecl-memcache/pull/47

[2019-03-23 21:54] #28 closed

[2019-03-25 12:19] tomassrnka opened #49 "Remove support for PHP 5"
Let's make 4+ version just PHP7+ version.

We should drop support for php5 and remove the code. If you are still using PHP5, you can use 3.x version of pecl-memcache.

[2019-03-26 15:34] tomassrnka commented on #4
Hi, I'm closing this one as a duplicate to #42

[2019-03-26 15:34] #4 closed

[2019-05-06 13:43] kmille commented on #13
@gsmaul Can you please merge it. We need fix.

[2019-05-06 16:22] gsmaul commented on #13
Submitted a pull request from my repo. I'm no longer using/testing this lib, so I'll pass it along to someone else for maintenance. I did test this patch for a short while back in 2016 and didn't run into any issues.

[2019-05-23 07:57] tomassrnka commented on #13
Thanks, the patch has been included in the source code for some time. I believe the bug no longer occurs.

[2019-05-23 07:57] #13 closed

[2019-05-26 18:00] bobvandevijver commented on #42
@tomassrnka Any progress on this? As you can see in the doctrine/cache repository linked above this comment, you can revert the deprecation of the memcache driver by releasing it on PECL 😄

[2019-05-26 18:14] tomassrnka commented on #42
@bobvandevijver  I wrote to pecl-dev list couple of weeks ago, so far no response. Maybe @remicollet  could help us with that? I would be more than happy to push this repo into PECL.

[2019-05-26 18:17] Jan-E commented on #42
I replied to request in the pecl-dev list. Maybe we can shake things up a little bit.

[2019-05-26 18:20] tomassrnka commented on #42
@Jan-E  thank you! 🥇

[2019-05-26 23:31] pierrejoye commented on #42
Anything I can do? If you already have an account request, I can approve it
and add you to the current pecl memcache package.

On Mon, May 27, 2019, 1:20 AM Tomas Srnka <notifications@github.com> wrote:

[2019-05-27 01:32] Jan-E commented on #42
http://news.php.net/php.pecl.dev/15838

[2019-05-27 03:05] pierrejoye commented on #42
Approved

I need to add you to memcache, be sure to add you as well  to the
package.xml or you won't be able to do releases.

On Mon, May 27, 2019, 8:32 AM Jan Ehrhardt <notifications@github.com> wrote:

[2019-05-28 07:28] tomassrnka commented on #49
Pull request merged. Ver 4. officially supports only PHP 7+

[2019-05-28 07:28] #49 closed

[2019-05-28 09:12] tomassrnka commented on #42
I modified package.xml in the latest release. What should be the next steps? @pierrejoye Thanks

[2019-05-31 13:27] victorhahncastell commented on #13
PR #50 (just linking this for convenience)

Thanks for patching this! :-)

[2019-06-12 06:07] tomassrnka commented on #42
@pierrejoye  / @Jan-E  any chance you could help me publish the extension on pecl? Thanks

[2019-06-12 07:11] Jan-E commented on #42
I do not know the process and could not find a description online. @remicollet should know it best.

[2019-06-16 14:54] tomassrnka opened #52 "PHP 7.4.0-alpha1: 1 failed test - 040.phpt"
PHP_VERSION : 7.4.0alpha1

`TEST 45/77 [tests/040.phpt]`
`========DIFF========`
`003+   int(3)`
`004+   ["key1_abc"]=>`
`004-   ["%s"]=>`
`005-   int(3)`
`011+   int(2)`
`012+   ["key1_abc"]=>`
`014+ }`
`015+ array(2) {`
`017+   int(3)`
`018+   ["key1_abc"]=>`
`019-   int(3)`
`021- array(2) {`
`022-   ["%s"]=>`
`023-   int(1)`
`024-   ["%s"]=>`
`025-   int(2)`
`026- }`
`025+   int(1)`
`========DON

[2019-06-17 20:52] tomassrnka opened #54 "Write tests for #53"
We should add a test for bug from issue #53

[2019-06-17 20:52] #12 closed

[2019-07-08 08:20] XyBob opened #55 "when i make，this problem has occurred."
root/php-7.0.5/ext/memcached/php_memcached_session.c: In function 's_configure_from_ini_values':
/root/php-7.0.5/ext/memcached/php_memcached_session.c:221:22: error: 'MEMCACHED_BEHAVIOR_REMOVE_FAILED_SERVERS' undeclared (first use in this function)
   check_set_behavior(MEMCACHED_BEHAVIOR_REMOVE_FAILED_SERVERS, 1);
                      ^
/root/php-7.0.5/ext/memcached/php_memcached_session.c:195:4

[2019-07-08 08:21] XyBob commented on #55
my php version is  PHP 7.0.32-4+ubuntu14.04.1+deb.sury.org+1

[2019-07-08 11:25] juongithub opened #56 "Is there a bug with prefix_host_key?"
I'm having a problem with the configuration of prefix_host_key and/or session_prefix_host_key.
It appears that under certain conditions versions 4.0.3/4.0.4 (Windows, x64, TS, PHP7.3.6) ignore their settings and always add a prefix to each key. Unfortunately, I'm currently not able to reproduce these conditions, it seems to be a random behavior. When I restart PHP the problem is resolved but after

[2019-07-10 09:31] tomassrnka commented on #55
The source code probably belongs to php memcache*d* not to php-memcache extension.

This extension builds and runs fine with PHP 7.0. Tested again with PHP 7.0.33 from official docker image.

[code]

[2019-07-10 09:31] #55 closed

[2019-07-11 14:22] juongithub commented on #56
Just to add more information, every time I see the wrong output I also see this PHP error:
Notice: MemcachePool::delete(): Server 127.0.0.1 (tcp 11211, udp 1) failed with: Network timeout (0)

[2019-07-11 16:37] juongithub commented on #56
I think the issue rises when the code tries to reconnect to the memcached server after a timeout/closed connection, on reconnection for some reason the prefix is added.

[2019-07-12 08:45] kmille opened #57 "session_start(): Failed to read session data: memcache using php7.2"
Hey,

I tried some debugging but I think php is the problem:

php-fpm configuration
[code]

Error message:
[code]

Test file:
[code]

ngrep log:
[code]

We are using php7.2-fpm on Ubuntu 18.04 with php-memcache (3.0.9~20160311.4991c2f-5build2). The Memcached server runs on Ubuntu 16.04 (1.4.25-2ubuntu1.2). There are no erros in the log file. Any idea what's wrong?

Greetings

kmille

[2019-07-24 14:33] kmille commented on #57
any updates?

[2019-07-31 07:10] bobvandevijver commented on #42
@tomassrnka Do you have any progress update on this?

[2019-08-01 10:55] tomassrnka commented on #42
@bobvandevijver unfortunately no. I got accepted into PECL dev, but i can’t figure out how to become maintainer of the extension.

[2019-08-01 10:56] tomassrnka commented on #57
Hi, sorry we are on holidays, i will take a look at it next week when im back.

[2019-08-02 18:23] bobvandevijver commented on #42
@tomassrnka Seems like you got to send an email to the developer mailing list? (https://pecl.php.net/takeover.php)

[2019-08-06 07:27] tomassrnka commented on #42
@bobvandevijver thanks for the link, I wrote to the mailing list again. Let's hope this time it will be successful. Also I wrote to previous maintainer and he recommended to do the very same thing as he no longer maintains the original extension.

[2019-08-26 07:12] jmalinens commented on #52
@tomassrnka thank You for Your work! I hope to use the extension when PHP7.4 will be stable

[2019-09-16 11:51] kmille commented on #57
Hey, still on holiday? We came across the same bug today after upgrading to 18.04 for a different customer.

[2019-09-16 12:18] kmille commented on #57
For me it just looks like you return the wrong value. Like: return <error> (even if everything works)

[2019-09-21 13:19] tomassrnka commented on #57
@kmille I tried to reproduce the bug, yes it is there with php-memcache from Ubuntu 18.04, however if you use latest release from this repo, it works as expected.

# php a.php
done

[2019-09-21 15:02] tomassrnka commented on #57
@kmille -> could you please try it with current pecl-memcache extension from our repo? It should be pretty easy to build.

[code]

[2019-11-12 11:06] nikolasr200 opened #58 "PHP 7.3 memcache loosing sessions"
Hi on a Wamp installation (Windows 10 / x64) i have noticed that after upgrading to php 7.3 from 7.2 i  face issue with memcache losing session data. I haven't found any references online on similar issue, apart from this one https://github.com/nono303/PHP7-memcache-dll/issues/15 . However we have been able to reproduce it in two different setups, on two different machines. Any advice would be muc

[2019-11-29 12:39] JonathanFinch-awin commented on #23
I was getting the following error on PHP 7.2 with debian php-memcache 3.0.9:
[code]
I manually installed the latest php memcache version 4.0.4 in my dockerfile and this resolved the issue.
[code]

[2019-12-18 14:06] oomujp commented on #42
Hello.

How is this issue progressing?

[2019-12-19 08:50] tomassrnka commented on #42
@oomujp  Hi, I've just released latest version on pecl as stable. 4.0.5 works well with any PHP 7.x - https://pecl.php.net/package/memcache/4.0.5 Thanks everyone for help here!

[2019-12-19 08:50] #42 closed

[2019-12-19 08:51] bobvandevijver commented on #42
Awesome!

@tomassrnka It still shows "This package is not maintained, if you would like to take over please go to this page.", shouldn't that be removed?

[2019-12-19 09:23] remicollet commented on #42
@tomassrnka notice that at least f76dff19e66e4c7ce547f70d5389d3b73303c1c7 is missing in the pecl archive (so 4.0.5 reports as 4.0.4 in phpinfo)

[2019-12-19 11:19] tomassrnka commented on #42
@remicollet  thanks, fixed in 4.0.5.1 release, hopefully correct version is reported in both packages.xml and .h file

[2019-12-19 11:20] tomassrnka commented on #42
@bobvandevijver edited description on pecl site, should be gone now, thx.

[2019-12-19 11:21] tomassrnka commented on #52
Works fine now.

[2019-12-19 11:21] #52 closed

[2019-12-19 12:56] glensc commented on #42
this project readme links to 4.0.5 which is 404:
- https://github.com/websupport-sk/pecl-memcache/commit/e940f20cd2c06b4643ebe9972759f92404ba8ca7

[2019-12-19 16:13] mlocati opened #60 "pecl install failed: cannot create directory 'php7/.libs': No such file or directory"
Sample session (started with `docker run --rm -it php:7.0-cli bash`):
[code]

[2019-12-19 19:28] tomassrnka commented on #60
Yes, I can confirm that this does not work. Probably a bug in package.xml. I will take a look.

Manual install works fine..

[2019-12-20 15:11] tomassrnka commented on #60
Fixed in 4.0.5.2

[2019-12-20 15:12] tomassrnka commented on #60
@mlocati  could you please test it? (just published on pecl).

[2019-12-20 16:21] mlocati commented on #60
@tomassrnka Yep! It worked: see https://travis-ci.org/mlocati/docker-php-extension-installer/builds/627790382

[2019-12-20 18:06] dzuelke opened #61 "Please follow semver and keep GitHub tags and PECL in sync"
Thanks for picking up work again on this extension! Looking forward to people using it again and eventually making it available for users on Heroku :)

In the interest of transparency and trust in the project, I'd like to ask for the following process changes:

- do not publish to PECL without a corresponding GitHub tag - this is important for trust (I can't see the source for that latest 4.0.5.2

[2019-12-20 20:08] #60 closed

[2019-12-22 21:02] tomassrnka commented on #61
Hi,

thank you for the feedback! I appreciate it!

This was my first PECL release, I will do my best to keep it in sync & within the rules & keeping the changelog uptodate.

I will fix version numbering tomorrow with new minor release.

🎄Happy holidays to you as well! 🎄

[2019-12-22 21:44] dzuelke commented on #61
Cool stuff. With the first point I meant of course the latest 4.0.5.2 release that was on PECL but without any details in the change log and no GitHub tag. Edited original comment to clarify.

✌🏼

[2019-12-22 21:44] #61 closed

[2019-12-23 06:01] imaben opened #62 "Segmentation fault with php7.1"
**OS**: CentOS Linux release 7.3.1611 (Core)

**PHP**:  PHP 7.1.2

**stack:**

Core was generated by `php-fpm: pool www             '.
Program terminated with signal 11, Segmentation fault.
#0  0x00007f7a0efe92d3 in mmc_value_handler_multi (key=0x7ffff953bee0 "dao_key_pk_v2_1_user_db_seo_search_words_645574", key_len=47, value=0x7ffff953beb0, flags=1,        cas=0, param=0x7ffff953c150) at /home/w

[2019-12-24 12:56] tomassrnka commented on #62
Hi,

unfortunately, I can't reproduce the bug. Installed PHP 7.1 on CentOS 7.7 from REMI's repository and all seems to be working fine.

Could you please provide code that crashes PHP?
Could you please provide "php -i"?

Thanks,
Tomas

[2019-12-24 13:14] imaben commented on #62
@tomassrnka Thanks for your reply.
This error occurs occasionally，It is more likely to occur when memcache restarting.
Debugging with gdb can find that the variable address taken out on line 1751 is unreadable.
Sorry, till now I haven't found the conditions to reproduce this error.

[2019-12-31 15:27] shmel1k commented on #62
Hi. I have the conditions to reproduce.

I have at least 10 fpms with some kind of load(100-200rps prob) on them. I have at least 2 servers in configuration. I restart one of them and get SEGFAULT.

[2019-12-31 15:29] imaben commented on #62
@shmel1k awesome!

[2019-12-31 15:37] shmel1k commented on #62
I have such kind of stacktrace by the way

[code]

Looks like all resources are freed in another C(not php) thread, but idk.

[2020-01-11 05:47] imaben commented on #62
@shmel1k Hi, Could you please provide code that crashes PHP?

[2020-01-11 09:16] shmel1k commented on #62
Hi!

Nothing diffucult, something like

Init script
[code]

Somewhere in php-fpm logic
[code]

[2020-02-06 15:02] TysonAndre opened #63 "Cannot build 3.x releases for php 5.6 in gcc 5.4.0 due to use of "inline""
The patch 82480df3 was applied to the latest releases, but never backported to 3.x for php 5.

From https://github.com/websupport-sk/pecl-memcache/issues/49 , I'm not sure whether or not there are plans to continue supporting the 3.x release line. I didn't find any related issues.

- Ideally, a 3.0.9 release would be available to fix the uses of inline (extern inline in functions declared in heade

[2020-02-07 12:27] tomassrnka commented on #63
Hi,

I understand your motivation here. If you provide a patch that fixes builds for the extension for 3.x releases (PHP 5.x) with newer GCC, I will be glad to include them and do a new release.

[2020-02-07 15:08] TysonAndre commented on #63
Hi - I'd suggest creating a 3.0.9 release based on https://github.com/TysonAndre/pecl-memcache/commit/10dd0df13d496c1cd5e5be49dcfbffccb371c39a . Feel free to amend the release notes and dates as needed, or take out the test helper files.
(e.g. fetch that commit, push a memcache-3.0.9 or memcache-3 branch, and tag a release based on the branch)

This was created based on the memcache-3.0.8 branch f

[2020-02-10 16:08] TysonAndre opened #64 "Add ReflectionParameter param information for functions and methods?"
and return for some methods.

Currently, ReflectionFunctionAbstract->getParameters() reports most of these have no parameters, in 4.0.5.2.

Instead of arginfo, NULL is passed.

Would you be interested in PRs to add this info?

https://github.com/php/php-src/blob/master/scripts/dev/gen_stub.php may be useful to generate readable stub info from a php stub file, but the output is only meant for php 8

[2020-02-10 16:16] TysonAndre commented on #64
I was going to suggest using https://github.com/JetBrains/phpstorm-stubs/blob/master/memcache/memcache.php , but that's also missing the parameters (based on Reflection).

In addition to the IDE, many third party projects (e.g. analyzers) use those stubs, so I or someone else should create a PR to update those

[2020-03-06 16:45] TysonAndre commented on #63
@tomassrnka - are there any issues that need to be addressed in the linked patch?

[2020-03-06 20:50] TysonAndre opened #65 ""Memcache session handling, zend_mm_heap corrupted" on bugs.php.net"
https://bugs.php.net/bug.php?id=77900

Sorry if you've already seen this. (The issue has no assignee or response comments on bugs.php.net, so I can't tell, and I personally don't check bugs.php.net frequently or know how to subscribe to bug reports for a given extension.)

The bug was for memcache 3.0.9 with php 7.3. I can't reproduce the zend_mm_heap issue in 4.0.5.2 from PECL (trying with NTS on

[2020-03-30 20:21] fgm opened #66 "Cannot install on Homebrew PHP 7.2"
## Trying to do

- `sudo pecl install memcache`
- on macOS 10.14.6 Mojave
- PHP: PHP 7.2.23 (cli) (built: Oct  3 2019 19:49:50) ( NTS )

## Expected

Extension installs

## Observed

Failure because zlib cannot be located.

[code]

Although it is actually present in the PHP configuration:
[code]

[2020-04-07 01:48] Neborya commented on #56
Same issue here :(
I'm using thread-safe PECL DLL 4.0.5.2.
I don't use MemcachePool, just:
$memcache = new Memcache;
$memcache->connect("127.0.0.1", "11211");

Randomly a prefix 'localhost' will be added to stored keys. For example, after calling
$memcache->set("some_name", "some_value", false, 0);
the key can get saved as "localhostsome_name".

[2020-04-08 14:57] TysonAndre opened #67 "Out of date documentation on https://www.php.net/memcache"
Docs can be updated through the normal SVN workflow (for users with a php.net account) or through a PR to https://github.com/php/doc-en

At the time of writing,
- Some functions, such as Memcache::append, aren't documented.
- Many functions have incorrect return types - Memcache::get can now return objects, booleans, etc for string keys

Related to #64

[2020-04-09 12:28] mmasm opened #68 "configure abort with php 7.2.x compile as extension"
abort configure at PHP version check

please see for patch in config9.m4:
`  AC_MSG_CHECKING(PHP version)
  if test '$PHP_MAJOR_VERSION' = ''; then
	if test ! -z "$phpincludedir"; then
    	PHP_MAJOR_VERSION=`grep 'PHP_MAJOR_VERSION ' $phpincludedir/main/php_version.h | sed -e 's/.*\([[0-9\.]]*\).*/\1/g' 2>/dev/null`
	elif test ! -z "$PHP_CONFIG"; then
    	PHP_MAJOR_VERSION=`$PHP_CONFIG --version

[2020-04-21 21:58] TysonAndre opened #69 "Compilation errors in php 8.0-dev due to removed macros."
1. ZEND_ARG_PASS_INFO is a deprecated macro, `ZEND_ARG_INFO(0, paramname)` should probably be used instead. Also see #64
2. TSRMLS_CC, TSRMLS_C, and TSRMLS_DC were no-op macros since php 7.0 was released, and can safely be taken out, I think

[code]

[2020-04-27 08:40] tomassrnka commented on #69
Hi,

we've started some preliminary work on support for php8, thank you for making the ticket. We will work on it in the upcoming weeks.

I've created a new branch for it php8 - https://github.com/websupport-sk/pecl-memcache/tree/php8 .

[2020-06-06 23:10] Neborya commented on #56
@juongithub, have you managed to find a solution? I've tried different memcached server versions (up to 1.6.6) and different DLLs from @nono303, but the prefix still gets added at random, making it impossible to work under Windows.

[2020-06-06 23:33] juongithub commented on #56
@Neborya did you try to empty  $_SERVER['SERVER_NAME'] just before trying to do anything with Memcache? For example:
[code]

[2020-06-06 23:57] Neborya commented on #56
Trying it now, ty!
Still getting these prefix changes.
Is it enough to call `$_SERVER['SERVER_NAME'] = '';` once at the beginning of the script?

[2020-06-07 00:25] juongithub commented on #56
Try in this way:
[code]

in my case it worked.

[2020-06-07 00:32] Neborya commented on #56
Been testing for about an hour, got these prefix changes twice (which is acceptable and much less than before).
@juongithub, ty for you tip!
Do you know if this bug only occurs on Windows, and the lib is safe to use on the production server (under Linux)?

[2020-06-07 00:50] juongithub commented on #56
This bug definitely occurs on Windows, as far as I know it does not occur on Linux (but I can't tell you for sure).

[2020-06-07 06:55] nono303 commented on #56
Hi,
The answer is somewhere in [get_session_key_prefix](https://github.com/websupport-sk/pecl-memcache/blob/NON_BLOCKING_IO_php7/php7/memcache.c#L323) and/or [get_key_prefix](https://github.com/websupport-sk/pecl-memcache/blob/NON_BLOCKING_IO_php7/php7/memcache.c#L393)

@Neborya are U testing in multi-vhost concurrency? with TS or NTS?
What are your php.ini values for keys:
[code]

[2020-06-09 11:51] nicolacontu opened #70 "PHP 7.3.17 segmentation fault"
Hello,
it seems this does not support 7.3.17

I am still using it on PHP 7.2.27 but with 7.3 I get segmentation fault :

[20200609 11:47 1011 root@cmd-preprod1.nyh.gt-t.net:~/downloads/memcache-4.0.5.2]# TEST_PHP_EXECUTABLE=/usr/local/php/bin/php php -dextension=memcache.so run-tests.php -d extension=memcache.so

=====================================================================
PHP         : /

[2020-06-09 15:45] TysonAndre commented on #70
Hi -  Not a maintainer, but at a glance, it looks like you need to start memcached on port 11212 as well to run the tests that failed. You probably already have one running on port 11211. See https://github.com/websupport-sk/pecl-memcache/blob/NON_BLOCKING_IO_php7/tests/connect.inc#L17-L18

[2020-06-09 16:02] nicolacontu commented on #70
You are right.
Now I ran it with the first command as well to start both memcached.

See results :

[20200609 16:00 1018 root@cmd-preprod1.nyh.gt-t.net:~/downloads/memcache-4.0.5.2]# ps aux | grep mem
root      68580  0.0  0.0 323172   860 ?        Ssl  16:00   0:00 /usr/local/memcached/bin/memcached -p11211 -U11211 -d -u root
root      68582  0.0  0.0 323172   864 ?        Ssl  16:00   0:00 /usr/

[2020-06-09 17:36] TysonAndre commented on #70
[code]

`$domainsocket = 'unix:///var/run/memcached/memcached.sock';`

The tests are unrelated to the segfault. You need to `mkdir -p /var/run/memcached` and `memcached -s /var/run/memcached/memcached.sock` to run those tests.

t might be useful if the test scripts skip if those memcached servers don't exist, but that's up to the maintainers to decide

@nicolacontu

1. How was PHP being run when i

[2020-06-10 10:51] nicolacontu commented on #70
1.   apache 2.4.43
  2.  memcached 1.4.34 but I also tried 1.6.6 on localhost
     *   session.save_handler = memcache
session.save_path = 'tcp://127.0.0.1:11211'
  3.  attached the segmentation fault
  4.  we have memcached as server, memcache compiled for php 7.3.17 with the memcache module. I tried to dowload it from pecl, from git. Same result. We use it for sessions and to write a single vari

[2020-06-11 08:18] nicolacontu commented on #70
See attached.
With the php.ini.working it is actually working. But honestly, I don't know why.
Settings for save_path are the same.

What do you think? Why is that working and the other one is not?

________________________________
Da: Tyson Andre <notifications@github.com>
Inviato: mercoledì 10 giugno 2020 18:42
A: websupport-sk/pecl-memcache <pecl-memcache@noreply.github.com>
Cc: nicolacontu <ni

[2020-06-21 11:39] Neborya commented on #56
Hi!
Sorry for the late reply, there should not be multi-vhost concurrency (I am using almost unmodified XAMPP setup, and the scripts are launched one at a time through http://localhost/...). The DLL version is TS.

I don't have these keys in my php.ini. @nono303 what values would you suggest for them?

[2020-06-22 15:55] nono303 commented on #56
hi @Neborya
What does phpinfo said ?
like for me:
![image](https://user-images.githubusercontent.com/2869665/85308410-79915480-b4b1-11ea-9707-ad7575f28408.png)

[2020-06-22 16:12] Neborya commented on #56
@nono303, I have exactly the same values in phpinfo.

[2020-06-22 18:39] nono303 commented on #56
So, if it's not a configuration issue, they might be a bug in [get_session_key_prefix](https://github.com/websupport-sk/pecl-memcache/blob/NON_BLOCKING_IO_php7/php7/memcache.c#L323) and/or [get_key_prefix](https://github.com/websupport-sk/pecl-memcache/blob/NON_BLOCKING_IO_php7/php7/memcache.c#L393)...

[2020-06-22 18:48] juongithub commented on #56
I don't know if this can help, currently I'm not able to see the issue again, I'm using PHP 7.3.13.

[2020-06-22 19:08] Neborya commented on #56
I still have it (without your fix `$_SERVER['SERVER_NAME'] = '';`) on PHP 7.4.

[2020-06-22 19:51] juongithub commented on #56
@Neborya can you test PHP 7.3.13? Just for comparison

[2020-06-23 12:46] Neborya commented on #56
@juongithub, sure, I just need to figure out how to replace my php version with 7.3.13 in XAMPP.

[2020-08-05 05:53] rgagnon24 commented on #56
+1 for this bug.  I see the same thing using php-pecl-memcache 4.0.5.2 for PHP 7.4
(php_memcache-4.0.5.2-7.4-ts-vc15-x64.zip)

Seemed random for a while, and still could be, but I also notice it when running XAMPP or straight out php-cgi... Seems to mostly occur if the connection to the server was lost for a abnormal disconnect...

I have all the same memcache.XXXXX settings shown above as posted

[2020-08-05 06:02] rgagnon24 commented on #56
The problem seems to be in the macro MEMCACHE_G(prefix_host_key)

if you run ini_get('memcache.prefix_host_key'); you get back the STRING "0"
if you run ini_set('memcache.prefix_host_key', 0); the value still gets returned as a string "0"
but
if you run ini_set('memcache.prefix_host_key', false); the value comes back as a string "", and the problem goes away.

[2020-08-06 05:45] nono303 commented on #56
effectively, setting `memcache.prefix_host_key = "" ` & `memcache.session_prefix_host_key = ""` change value from **0** to _**no value**_
![image](https://user-images.githubusercontent.com/2869665/89495463-9e6b2e00-d7b8-11ea-8523-eb97c81b50d4.png)
![image](https://user-images.githubusercontent.com/2869665/89495469-a1661e80-d7b8-11ea-83dc-6292c1b6a8ca.png)
@Neborya, could you have a try please?

[2020-08-06 18:35] rgagnon24 commented on #56
After trying out the blank value for a while, it eventually stopped working.

So there is just something wrong with the zend library that is sometimes testing the "0" value and replying true, which then allows the code to capture the $_SERVER['SERVER_NAME'] as a prefix.  I don't know that code well enough to know if there is an event firing or something like a pointer being compared instead of a s

[2020-08-06 18:38] rgagnon24 commented on #56
Could the definition of the config value just be wrong for php 7.4 compared with 7.3.x ??
Did Zend change something so there would be a needed change to:
https://github.com/websupport-sk/pecl-memcache/blob/NON_BLOCKING_IO_php7/php7/memcache.c#L300

[2020-08-06 18:59] rgagnon24 commented on #56
Ummm.... could this be the problem????
https://github.com/websupport-sk/pecl-memcache/blob/NON_BLOCKING_IO_php7/php7/memcache_pool.h#L424

```prefix_host_key``` is defined in the global struct as a ```char *```, but it is a boolean.  Should it maybe be defined there as ```zend_bool``` ?

[2020-08-09 10:54] nono303 commented on #56
Hi,
Here is a **NTS vs16/x64/avx** patched version for testing
[code]
[php_memcache.zip](https://github.com/websupport-sk/pecl-memcache/files/5047284/php_memcache.zip)

[2020-08-09 10:56] rgagnon24 commented on #56
I dont thing those zend_bools are supposed to be pointers.

[2020-08-09 15:11] TysonAndre commented on #56
https://github.com/websupport-sk/pecl-memcache/blob/NON_BLOCKING_IO_php7/php7/memcache_pool.h#L424

Yeah, that's very likely to be it.
There's probably uninitialized bytes - a zend_bool uses 1 byte, and a pointer usually takes 4 or 8 bytes, so there's 3 or 7 uninitialized bytes, and code reading from those uninitialized bytes . Only one byte is modified by the OnUpdateBool implementation.

[code]

[2020-08-11 09:06] nono303 commented on #56
Hi,
Here is a NTS vs16/x64/avx version for testing with @TysonAndre patch (`zend_bool` not `zend_bool *`)
[php-7.4.x_memcache.zip](https://github.com/websupport-sk/pecl-memcache/files/5055925/php-7.4.x_memcache.zip)
_

[2020-08-11 18:45] rgagnon24 commented on #56
@nono303 Is is possible to get an TS version as well to test?  XAMPP and PhpED use Thread Safe interpreters.

[2020-08-11 18:46] rgagnon24 commented on #56
I'd like to note as well you may want to check out the "displayer" options when defining ini settings for an extension.  Those would cause the output in phpinfo() to show "On" or "Off" instead of the literal string from the ini file.

[2020-08-11 20:13] nono303 commented on #56
Here are **TS & NTS vs16/x64/avx** versions with phpinfo bool "displayer" option, for testing

[php-7.4.x_memcache.zip](https://github.com/websupport-sk/pecl-memcache/files/5059269/php-7.4.x_memcache.zip)

[code]
![image](https://user-images.githubusercontent.com/2869665/89943915-48b2dd80-dc1f-11ea-8e34-481330940652.png)

[2020-08-11 21:56] rgagnon24 commented on #56
I guess I'm out of luck for some reason... I get this error trying to start XAMPP with the new dll:
Can't load module 'C:\\xampp\\php\\ext\\php_memcache.dll' as it's linked with 14.27, but the core is linked with 14.16

[2020-08-12 11:55] nono303 commented on #56
14.27: vs16 / 14.16: vc15 ;)
**TS & NTS vc15/x64/avx**: [php-7.4.x_memcache.zip](https://github.com/websupport-sk/pecl-memcache/files/5062472/php-7.4.x_memcache.zip)

[2020-08-12 15:19] rgagnon24 commented on #56
THANKS, @nono303 That seems to work OK.

I ran a pile of tests with the 4.0.5.2 TS 64-bit DLL from the pecl download site and got a LOT of bad results where "localhost" was prefixed onto the keys.

The version you uploaded in https://github.com/websupport-sk/pecl-memcache/issues/56#issuecomment-672826394 works like it should, 100% without prefixing the hostname when the ini is set to false (rather

[2020-08-12 21:38] TysonAndre opened #72 "Provide a getResultCode() to check if the most recent memcache operation had an error?"
The related Memcached pecl provides
https://www.php.net/manual/en/memcached.getresultcode.php
https://www.php.net/manual/en/memcached.getresultmessage.php

Otherwise, workarounds have to be used to distinguish between
1. The value false, from unserialize() (if applications used them)
2. A cache miss (absence can be detected with $flags)
3. An memcache protocol error/timeout that caused Memcache to

[2020-08-12 21:59] TysonAndre opened #73 "Allow overriding the hardcoded retry timeout of 15 in php.ini for connect, as well as for connect/memcache_pconnect calls?"
E.g. this could be added to the options after $timeoutms in `memcache_connect($host, $port, $timeout)` and `memcache_pconnect()`.

It's possible through addServer but not pconnect()

https://www.php.net/manual/en/memcache.addserver.php

The c code doesn't seem to have a way to do this in 4.0.5

[code]

Example use cases:
- Running a proxy on localhost where connection attempts are quick and the me

[2020-08-13 05:36] nono303 commented on #56
@rgagnon24 Thanks for testing!
You're right for `allow_failover`, it must be `zend_bool`
[code]
I also cleaned view of `PHP_INI_BEGIN` funtion and checked that all others were well typed (that's now seems to be the case)

Zip file contain all dll versions for PHP 7.4 and the final(?) patch. [php-7.4.x_memcache.zip](https://github.com/websupport-sk/pecl-memcache/files/5067281/php-7.4.x_memcache.zip

[2020-08-13 20:48] rgagnon24 commented on #56
I can confirm that the version uploaded in https://github.com/websupport-sk/pecl-memcache/issues/56#issuecomment-673270717 works the same as the previous update in regards to the prefix problem being resolved.  I only have one server to play with, so I cannot comment on the allow_failover since I didn't test it, however I do see that the phpinfo() output did properly change from showing "1" to sho

[2020-08-26 05:08] nono303 commented on #56
all version released with tag [4.0.5.2-pr71](https://github.com/nono303/PHP7-memcache-dll/tree/4.0.5.2-pr71)

[2020-09-25 07:00] tomassrnka commented on #69
resolved in NON_BLOCKING_IO_php8 branch

[2020-09-25 07:00] #69 closed

[2020-10-01 23:47] Zaffy commented on #73
The docs are obsolete, but the API supports this and should work just fine. Just pass third parameter to connect/pconnect.

    object memcache_connect(string host [, int port [, double timeout ] ])
    object memcache_pconnect(string host [, int port [, double timeout ] ])

You can also see from the code snippet you posted that although timeout is initialized to `MMC_DEFAULT_TIMEOUT` it gets over

[2020-10-01 23:51] TysonAndre commented on #73
I'd assumed that the `timeout` applied to **the initial connection attempt**. (The one in the snippet - `	if (zend_parse_parameters(ZEND_NUM_ARGS(), "s|ld", &host, &host_len, &tcp_port, &timeout) == FAILURE) {`)

However, I'm looking for a way to the `retry_timeout`, which is used when memcache reconnects if the initial connection breaks (e.g. idle for a long time and disconnected by the load bala

[2020-10-01 23:55] Zaffy commented on #73
Ah, ok. That should be easy to implement. I'll look into it.

[2020-10-02 01:08] Zaffy commented on #73
Perhaps these APIs would suffice you?

    bool memcache_set_server_params( memcache, string host [, int port [, double timeout [, int retry_interval [, bool status [, callback failure_callback ] ] ] ] ])
    bool Memcache::setServerParams( string host [, int port [, double timeout [, int retry_interval [, bool status [, callback failure_callback ] ] ] ] ])

[2020-10-02 01:11] TysonAndre commented on #73
I'd overlooked those, those may help. They weren't documented on php.net when I checked, so I didn't realize they were an option - https://www.php.net/manual-lookup.php?pattern=memcache_set_server_params&lang=en&scope=404quickref

PRs can be made to https://github.com/php/doc-en

[2020-10-02 19:16] #73 closed

[2020-10-03 12:06] thesource93 commented on #56
this seems to be fixed,closing

[2020-10-03 21:03] #56 closed

[2020-10-06 22:55] thesource93 commented on #8
Couldn't reproduce the problem on any recent version , we then tried older (2016) version of memcached daemon, the behaviour appeared. The bug is fixed in any somewhat recent memcached.

[2020-10-06 22:55] #8 closed

[2020-10-06 22:57] Zaffy commented on #8
TL;DR;  debugged this, and there's nothing to do, it's fixed.

First I thought of Nagle's algorithm and tried setting TCP_NODELAY to see if it'd make any difference. Not at all.
I just couldn't reproduce it, even with small chunk sizes.

Then there's this old conversation:
https://web.archive.org/web/20130213153546/http://comments.gmane.org/gmane.comp.web.cache.memcached/1259

It seems like the is

[2020-12-03 17:37] faca5 opened #79 "PHP 8"
Hello.

I got errors:

Command:
`make
`

Errors:
[code]

Thank you.

[2020-12-06 16:45] nono303 opened #80 "php8 windows build"
Hi @tomassrnka!
Thanks for release 8.0 👍
Here is my current changes on commit `36d7181` for building on windows

[code]

Version 4.0.5.2 is still present in `php_memcache.h`

[code]

Note, I also generate `$Revision$` string on my [windows releases](https://github.com/nono303/PHP-memcache-dll) at build time like this:

[code]

Could you also move tag 8.0 on latest commit? (`36d7181` not `1ae74d7`)

[2020-12-06 17:50] andypost commented on #79
Used to build just released 8.0 version and getting
[code]

[2020-12-06 17:52] andypost commented on #79
The issue is https://github.com/websupport-sk/pecl-memcache/blob/NON_BLOCKING_IO_php8/src/php_memcache.h#L70

[2020-12-06 19:57] tomassrnka commented on #79
Hopefully resolved now, sorry about that

[2020-12-06 19:57] tomassrnka commented on #80
Yes, hopefully resolved now, sorry about that and thank you!

[2020-12-06 20:01] tomassrnka commented on #80
@nono303 could you please create pull request once you can create builds for Win? Much appreciated !

[2020-12-06 20:34] andypost commented on #79
FYI packaged to Alpinelinux testing repo https://pkgs.alpinelinux.org/packages?name=php8-pecl-memcache&branch=edge it skips few tests because it tricky to run enough services

[2020-12-07 06:31] faca5 commented on #79
Thank you.

[2020-12-07 07:47] nono303 commented on #80
Hi @tomassrnka & Thanks for #81!

Concerning the include change for `php_stdint.h` on Windows between php7 `win32/` and php8 `main/` I just let you know what was my 'dirty patch' and did not submit a PR as far as i don't know how you want to manage it cleanly.

In my understanding cf. https://github.com/websupport-sk/pecl-memcache/pull/76#issuecomment-719842372: fixes and changes are not back-port

[2021-01-12 07:33] evs-xsarus commented on #80
This version mismatch also prevents using mlocati's script for installing memcache on a PHP 8 docker, could you look into that:

https://github.com/mlocati/docker-php-extension-installer/issues/244

[2021-02-01 21:27] kmille commented on #57
Hey,
thanks for caring! We upgraded the system so I can't reproduce it anymore.

[2021-02-01 21:27] #57 closed

[2021-02-09 18:26] TysonAndre commented on #65
Should this and some of the other tickets mentioned in the description of https://github.com/websupport-sk/pecl-memcache/pull/76 be closed?

[2021-03-23 15:03] itrack opened #85 "Session Redundancy with Failover doesn't work on PHP7"
Session Redundancy with Failover doesn't work on PHP7, how can replicate the problem:
- Install 2 memcache servers
- Install Memcache version from branch NON_BLOCKING_IO_php7
- Memcache setup:
[code]
- PHP Script:
[code]
- Turn off the first memcache server and run the script, everything is ok. Start it and give some refresh (to pass retry_interval) and the session is lost. It only happens on one

[2021-04-10 20:55] arcticlinux commented on #85
I found that I had to set `memcache.session_save_path` instead of session.save_path in my Ubuntu 20.04, PHP 7.4 configuration

[2021-04-10 21:02] itrack commented on #85
Hmmm, nice, and with this configuration does what I wrote above work?

[2021-04-10 21:41] arcticlinux commented on #85
Probably with:
`ini_set('memcache.session_save_path', "$memcache1,$memcache2");`

[2021-05-05 06:33] drealecs commented on #85
The use-case for this needed behavior was to be able to reboot/restart a memcache VM/container/service without reconfiguring the application memcache server pool.
When stopping one of the  memcache service from the configured pool, no session is lost. Seconds later, when bringing that service back up, the session loss occurs.
I believe I managed to have a fix for the issue (#86) and review would b

[2021-05-30 05:14] itrack commented on #85
The issue has been fixed with the last merge, thank you!

[2021-05-30 05:14] #85 closed

[2021-06-02 09:44] thesource93 commented on #70
this should be fixed in recent version, closing

[2021-06-02 09:44] #70 closed

[2021-06-09 09:45] drealecs commented on #85
Hey, @thesource93, @tomassrnka, how are you planning the releases that include this fix?
Will it be 4.0.6 for PHP 7.* and 8.0.1 for PHP 8.*?
Thanks!

[2021-06-14 15:12] thesource93 commented on #65
fixed in https://github.com/websupport-sk/pecl-memcache/pull/76

[2021-06-14 15:12] #65 closed

[2021-06-14 15:15] #46 closed

[2021-06-22 19:16] TysonAndre opened #89 "Idea: Support alternate serializers such as igbinary, msgpack, etc for arrays/objects"
Motivation:
1. Speed up unserialization, reduce network traffic
2. Allow storing more objects/arrays in the same amount of RAM on a memcached server.

A different PECL (`memcached`) does this through the use of an option defaulting to the php serializer for objects/arrays https://www.php.net/manual/en/memcached.constants.php . Memcached integer flags are used to store the serializer type in that P

[2021-06-28 17:27] drealecs commented on #85
Hey @thesource93, just another ping here related to an official release.
As noted by recent changes to README: https://github.com/websupport-sk/pecl-memcache/commit/ccf702b14b18fce18a1863e115a7b4c964df952e related to 8.0 release working for PHP lower than 8,
8.0.1 version for PHP 7.3, 7.4 and 8.0 release sounds good as well.
I would like to be able to restart a memcache server in production withou

[2021-07-10 06:02] NickGoodwind opened #90 "PECL install not receiving -D --with-zlib-dir=/path/ option"
Lately, I have been trying to install the `pecl memcache` PHP extension on OSX Catalina with `brew memcached` installed and I'm getting the following error every time I try the install process:

[code]

I have tried with `pecl install memcache` and with `pecl install --configureoptions='with-zlib-dir="path"' memcache` to no avail. It always gets the same point and it fails.

![Screen Shot 2021-07-

[2021-12-15 09:44] DaFox opened #91 "Test 035 fails after update to PHP 8.1"
After updating to PHP 8.1 test 035 using a local memcached with domain sockets fails.

**Build**
[code]

**Result**
[code]

The problem is, that passing NULL as the second argument to memcache_connect() is deprecated in PHP 8.1 and triggers an error during the tests. I managed to run the tests using the following patch.

**Workaround**
[code]

However, i guess that the whole test-case should be re

[2021-12-15 13:35] TysonAndre commented on #91
As you said, https://wiki.php.net/rfc/deprecate_null_to_scalar_internal_arg deprecated it deliberately. Possible solutions: The arginfo can be changed to make it nullable, or the test can be changed - https://www.php.net/manual/en/memcache.addserver.php already documents that 0 should be passed, not null

[2021-12-23 10:52] ryandesign opened #92 "Why is 3.x beta?"
The [release notes](https://pecl.php.net/package-changelog.php?package=memcache) of versions 4.x and 8.x say:

Why then is every 3.x release marked as beta? Can [3.0.9](https://github.com/websupport-sk/pecl-memcache/issues/63) be marked stable when it is released?

[2021-12-23 11:15] ryandesign opened #93 "Tag 3.0.7"
3.0.7 was released to PECL but there is no tag for it in this repository, although there is a tag for 3.0.8 and for 3.0.6 and earlier. The appropriate commit appears to be f46b45edcc73cd2131fe0f8918aa87f3325296c2. Perhaps a 3.0.7 tag could be created from that commit.

[2021-12-23 11:31] ryandesign opened #94 "3.0.8 tests fail because connect.inc is missing"
Running `make test` after building memcache 3.0.8 (for php 5.6), most tests fail:

[code]

The log for the first failed test, 001.log, shows why:

[code]

The connect.inc file that the tests require has not been included in the 3.0.8 archive on PECL, nor in fact has it been included in the 3.0.8 tag in this repository, a peculiarly-created tag that shares no history with the rest of the repository

[2021-12-24 17:42] ryandesign commented on #63
Even with the proposed patch, clang (Apple clang version 12.0.0 (clang-1200.0.32.29)) in its default gnu99 mode emits these warnings when building 3.0.8:
[code]
Nevertheless the build succeeds, though I don't know if the module it built works.

If I use `-std=gnu89` in CFLAGS the warnings go away.

Looks like the bug was already fixed in memcache 4.x by removing `MMC_POOL_INLINE` and `MMC_QUEUE_IN

[2021-12-27 19:41] glensc commented on #79
Perhaps this should be closed due to the unhelpful issue title as the module supporting PHP 8.0  is already released.

[2021-12-28 13:53] nono303 commented on #79
https://github.com/nono303/PHP-memcache-dll

[2022-02-06 17:50] paulkudla opened #95 "Unable to compile on Freebsd / PHP 7.4"
I have reported this to php as it seems to have something to due with php and how it installs on the server

history 👍
ATTENTION! Do NOT reply to this email!
To reply, use the web interface found at
https://bugs.php.net/bug.php?id=81709&edit=2

 ID:                 81709
 User updated by:    paul at scom dot ca
 Reported by:        paul at scom dot ca
 Summary:            just trying to get memcac

[2022-03-05 19:23] bobrowski opened #96 "v8.0 on php8.1 showing as 4.0.5.2 on phpinfo()"
i compiled php 8.1 and memcache 8.0, yet the memcache version on phpinfo() says 4.0.5.2. just a typo or not?

[2022-03-06 07:00] nono303 commented on #96
shown versionin phpinfo come from https://github.com/websupport-sk/pecl-memcache/blob/NON_BLOCKING_IO_php8/src/php_memcache.h#L70

[2022-07-30 11:21] nono303 commented on #96
Hi @thesource93
Still have version confusion on yesterday 8.0.1 tag:
`PHP_MEMCACHE_VERSION` at https://github.com/websupport-sk/pecl-memcache/blob/8.0.1/src/php_memcache.h#L70 is set to **8.1-dev**

[2022-08-01 11:57] remicollet opened #98 "4.0.5.3 and 8.0.1 missing on pecl"
Hi,

I noticed new tags here, but missing on
https://pecl.php.net/package/memcache

[2022-08-17 04:02] shuyinglee opened #99 "cpu high load with php8"
Hi,   I upgrated php8 with pecl memcache 8.0, compiled perfectly, BUT while I pushed the WE B server to LIVE, cpu load 100% in 5miniutes. i had to take it off from LB server. I tried it more times and the result was the same.
then i checked logs files:

php-fpm.log
[17-Aug-2022 10:27:19] WARNING: [pool www] child 162297, script '/htdocs/www/index/htdocs/index.php' (request: "GET /index.php") execu

[2022-08-19 01:44] shuyinglee commented on #99
i think i have found out the reason.
I pushed about 100 servers with different port into memcache pool, and the 4th args "weight" was the same value which is 100.
that caused  very slow. after i remove the 4th arg "weight" , it works very very goog.

the bug still exists, i just resolved my issue.
...
$this->_mem = new Memcache;
foreach($config['servers'] as $server){
     $this->_mem->addServer($

[2022-10-15 00:13] TysonAndre commented on #99
https://www.php.net/manual/en/memcache.addserver.php

you're adding 100*100 buckets - I'm not familiar with what libmemcached is doing or which version you're using, but it might also be sorting the entire list of buckets every time addServer is called (and doing more work to find your key in 100*100 buckets than for just 100 buckets if it uses binary search)

smaller weights are faster but would

[2022-11-08 17:34] kwhat opened #106 "Memory Leak with 4.0.5.3 (PHP 7.4)"
There appears to be a memory leak:

Sample Code:

    <?php

    function test() {
        echo memory_get_usage() . "\n";

        $memcache_obj = new Memcache();
        $memcache_obj->addServer('memcached.mkf.local' , 11211);

        echo memory_get_usage() . "\n";

        $memcache_obj->close();
        unset($memcache_obj);
    }

    while (true) {
        test();
        sleep(1);
    }